.DisplayInformation {
  .card-names {
    //  border: 1px solid green;
    max-width: 500px;

    .SlideTracks {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
      // margin-bottom: 1rem;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid red;
      }
    }
  }
}
